<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Task37774.Properties.Settings.SailingConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Sailing.accdb;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>